.sort{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    p{
        height: 45px;
        width: 100%;
        border-bottom: solid 1px #ccc;
        display: flex;
        box-sizing: border-box;
        label{
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .shopCar-section-section {
        flex: 1;
        width: 100%;
        overflow: hidden;
        .shopCar-section-section-auto {
            height: auto;
            width: 100%;
            dl {
                height: 100px;
                width: 100%;
                border-bottom: solid 1px #ccc;
                padding: 0 10px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                dd {
                    input {
                        height: 15px;
                        width: 15px;
                        margin-right: 10px;
                    }
                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
                dt {
                    padding: 10px 0 10px 10px;
                    box-sizing: border-box;
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    overflow: hidden;
                    div {
                        display: flex;
                        justify-content: space-between;
                        p {
                            display: flex;
                            align-items: center;
                            span {
                                border: solid 1px #999;
                                height: 25px;
                                width: 25px;
                                border-radius: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: 21px;
                                visibility: middle;
                            }
                        }
                    }
                }
                .single-line {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}